$header-height: 3rem;
$header-height-tablet: 5rem;

$window-header-height: 5rem;
$window-header-height-tablet: 4rem;

$breakpoint-tablet: 768px;

$window-header-padding-left: 9rem;

$primary-color: #393439;
$secondary-color: lightblue;
$error-color: lightcoral;
